<div class="main">
  <p class="fact">
There is no word for <%= dict_link(@word) %> in <%= lang_link(@language) %>.
  </p>
</div>

<div class="fineprint">
<!-- p>This site is inspired by an entry in the diary of Derek Jarman, dated the Wed 25 November, 19xx. Published as <i>Smiling In Slow Motion</i>, p.265: 
<blockquote>"There is no word for blue in Japanese."</blockquote>
<p>This makes use of the random word API at http://randomword.setgetgo.com/get.php</p-->
</div>
