// Place all the styles related to the fact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fact {
  font: 60px helvetica, sans-serif;
  text-align: center;
}

.fact a {
  color: #aaa;
  text-decoration: none;
}

.fineprint {
   font-size: 8px;
}

